#projects {
    text-align: center;
    
    a {
        color: $white;
        text-transform: uppercase;
    }
    
    .image-container {
        width: 100%;
    }
    
    img {
        max-width: 100%;
    }
    
    .d-table {
        position: absolute;
        height: 100%;
        width: 100%;
        top: -150%;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: -500px;
        transition: ease-in-out .3s;
        z-index: 2;


        @include breakpoint(768px) {
            top: auto;
            height: auto;
            background-color: #111;
            bottom: 0;
            text-indent: 0;
            padding: .5rem 0;
            font-size: .8rem;
        }
    }

    .d-table-cell {
        vertical-align: middle;
        text-align: center;
    }

    span {
        text-decoration: underline;
        @include breakpoint(768px) {
            text-decoration: none;
        }
    }

    .projects-con {
        text-align: center;
    }

    .project {
        display: inline-block;
        width: 25%;
        position: relative;
        overflow: hidden;
        border-radius: 100%;
        padding: 100px;
        margin: 2rem 1rem 0;
        background-color: #efefef;
        border: 2px solid transparent;
        transition: ease-in-out .3s;

        @include breakpoint(1024px) {
            padding: 50px;
        }

        @include breakpoint(768px) {
            width: 30%;
            border-radius: 0px;
            margin: 1rem .5rem 0;
        }

        @include breakpoint(648px) {
            width: 40%;
        }
        @include breakpoint(480px) {
            width: 100%;
            margin: 10px auto 0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: inset 0px 0px 200px #111;
        }

        &:hover{
            border: 2px solid $red;
            box-shadow: 0px 0px 4px $red;
            .d-table {
                background-color: $black;
                top: 0;
                text-indent: 0;
            }
        }
    }
}