#skills {
    background-color: $black;
    color: $white;
    text-align: center;

    .skills {
        text-align: right; /* Right-align text */
        padding-right: 20px; /* Add some right padding */
        line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
        color: white; /* White text color */
    }

    .skill-container {
        position: relative;
    }

    .skills {
        height: 4px;
        position: relative;
        z-index: 2;
        border-radius: 50px;
    }

    .d-table {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .d-table-cell {
        vertical-align: middle;
    }

    .guideline {
        height: 2px;
        background-color: #efefef;
    }

    .cols {
        @include breakpoint (768px) {
            padding: 0 !important;
        }
    }
}